.header {
    min-height: 60px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: grey;
}

.header__cart-btn {
    height: 30px;
    margin-right: 40px;
    padding: 0 5px;
    font-size: 20px;
    color: #000;
    border-radius: 10px;
}

.header__form-search {
    margin-right: 40px;
}

.input-search {
    padding: 5px;
    
}

.title {
    margin: 20px 0 20px 0;
    font-size: 40px;
    text-align: center;
}

.products {
    display: flex;
    justify-content: center;
}

.product-item {
    width: 180px;
    min-height: 240px;
    margin: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #000;
}

.product-item__img {
    width: 180px;
}

.product-item__heading {
    margin: 10px 0 10px 0;
    font-size: 24px;
}

.product-item__text {
    margin: 15px 0 15px 0;
    font-size: 20px;
}

.product-item__btn {
    height: 30px;
    font-size: 20px;
    color: #000;
    border-radius: 10px;
}

.cart {
    margin-right: 40px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute; 
    z-index: 10;
    top: 100%;
    right: 0%;
    background-color: rgb(201, 198, 198); 
}

.cart-item {
    width: 90%;
    min-height: 100px;
    padding: 10px 10px 0 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cart-item__img {
    width: 50%;
    height: 50%;
}

.cart-item__heading {
    padding-bottom: 5px;
    text-align: center;
    font-size: 18px;
}

.cart-item__text {
    padding-bottom: 5px;
}

.cart__price {
    padding: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.cart-item__btn {
    padding: 5px;
    margin-top: 10px;
}

.cart-item__info {
    padding: 20px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}